# main server user
VDS_USER=wuser

# ssh public key
ID_RSA_PUB="ssh-rsa AB123 user@Host"

# admin email
ADMIN_EMAIL=user@my.mail

# Is VDS remote? [y/n]
VDS_IS_REMOTE=y

# ip address of the server.
# if server is remote (VDS_IS_REMOTE=y) and HOST_IP empty,
# then script try to define ip address automatically.
HOST_IP=""

# portainer domain name,
# ex.: portainer.mysite.com
PORTAINER_DOMAIN=portainer.mysite.com
